@import './../../../styles/mixin';
@import './../../../styles/variables';

.main-container{
    text-align: center;
    align-content: center;
    width: 100%;
    height: 80vh;
}

.button-style{
    @include button
}