@import './../../../styles/mixin';

img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  padding: 20px;
  width: 250px;
  height: 300px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.img-container {
  justify-content: center;
}

.btn-container {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  @include button;
}

.text-container {
  margin-top: 6px;
  text-align: justify;
  flex-grow: 1;

  h4 {
    text-align: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  p {
    text-align: start;
  }
}