@import '../../../../styles.scss';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 70px;
    border-bottom: 1px solid black;
}

button {
    all: unset;
    text-shadow: 1px 1px 2px gray;
}

.themeIcon {
    font-size: 1.4rem;

    &:hover {
        cursor: pointer;
    }
}

h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    text-shadow: 1px 1px 1px gray;

    a {
        cursor: pointer;
    }
}

.navigator {
    background-color: $v-yellow;
    align-content: center;
    text-align: center;
    align-self: center;
    width: 100%;
    align-items: self;
    border-bottom: 1px solid black;

    ul {
        display: inline-block;
    }
}

ul {
    width: fit-content;
    height: fit-content;
    height: 40px;

    li {
        display: inline-block;
        height: 100%;
        i{
            font-size: 20px;
            margin-right: 4px;
        }
    }
}

li {
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
    cursor: pointer;
    &:hover{
        text-shadow: 1px 1px 2px gray;
    }
    &.active {
        text-shadow: 2px 2px 3px gray;
    }
}

li+li {
    border-left: 1px solid $v-lightblack;
    height: 60%;
}

.nav-left {
    border-radius: 10px 0px 0px 10px;
}

.nav-right {
    border-radius: 0px 10px 10px 0px;
}

.logout {
    left: 0;
    top: 80px;
    border: 1px solid $v-lightblack;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px gray;
    background-color: rgb(255, 255, 255,0.2);

    &:hover {
        cursor: pointer;
        scale: 1.1;
    }

}

@media (max-width: 768px) {
    header {
        height: 4rem;
        padding: 10px;
    }

    h1 {
        font-size: 1.4rem;
    }

    .languageFlag {
        width: 1.8rem;

        &:hover {
            width: 2rem;
        }
    }

    .nav-links a {
        font-size: 1rem;
    }
}

@media (max-width: 552px) {
    header {
        height: 4rem;
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .languageFlag {
        width: 1.5rem;

        &:hover {
            width: 1.7rem;
        }
    }

    .nav-links a {
        font-size: 0.8rem;
    }
}