@import '../../../../styles.scss';
main{
    margin: 0;
}
.main-container{
    margin: 0;
    width: 100%;
    display: flex;
}

.container-left{
    width: 80%;
    float: left;
    padding: 10px;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 20px;
    box-shadow: 1px 1px 2px gray;
    
}

.container-right{
    width: 20%;
    float: left;
}

.card-container{
    padding-top: 40px;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}