<main>
    <div *ngIf="basketItems.length > 0; else emptyBasket" class="items-container">
        <h1>Shopping Cart</h1>
        <div *ngFor="let item of basketItems" class="basket-item">
            <img [src]="item.images[0] | defaultImage | safeUrl : 'url'" alt="{{ item.title }}">
            <div class="details">
                <h2>{{ item.title }}</h2>
                <p>{{ item.price | currency: 'EUR' }}</p>
            </div>
            <button>Delete</button>
            <input type="number" value="{{item.quantity}}">
        </div>
        <h1>Total: {{ totalPrice | currency: 'EUR' }}</h1>
    </div>
    <ng-template #emptyBasket>
        <h1>Your cart is empty.</h1>
    </ng-template>
</main>
